@page "/prueba"
@using NutriFoods_UI.Data.Model


<PrimaryButton OnClick="AddMeal" Text="Añadir comida"></PrimaryButton>

<SelectField Value="@SelectedValue" ValueChanged="HandleValueChanged">
    <option value="opcion1">Opción 1</option>
    <option value="opcion2">Opción 2</option>
</SelectField>
  

<span>@SelectedValue</span>


@code
{
    public List<Meal> Meals { get; set; } = new();
    
    private string SelectedValue { get; set; }

    private void HandleValueChanged(string value)
    {
        SelectedValue = value;
    }
    
    private void AddMeal()
    {
        Meals.Add(new Meal());
        StateHasChanged();
    }
    
  
}
