@inherits ComponentBase

<div>
    <a>@Title</a>
    <input class="form-control" type="text" placeholder="@PlaceHolder" @bind="Value" @oninput="OnValueChanged">
</div>


@code {
    
    [Parameter]
    public string Title { get; set; } = null!;
    [Parameter] 
    public string PlaceHolder { get; set; } = null!;
    [Parameter]
    public string Value { get; set; } = null!;
    
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
    
    private async Task OnValueChanged(ChangeEventArgs e)
    {
        Value = e.Value.ToString();
        await ValueChanged.InvokeAsync(Value);
    }
    
}


<style>
   
    .form-control:focus {
        border-color: var(--color-primary);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efecto de sombra */
    }

</style>