@using NutriFoods_UI.Utils.Enums
@using Fluxor
@using NutriFoods_UI.Data.Store.LatestConsultation
@inject IState<LatestConsultationState> LatestConsultation

<table class="my-table mud-width-full justify-space-beetween flex-grow-1 gap-2">
    <thead>
    <tr>
        <th scope="col" style="width: 70%">Alimento</th>
        <th scope="col">Reacción</th>
    </tr>
    </thead>
    <tbody class="mt-2">
    @foreach (var reaction in LatestConsultation.Value.LatestConsultation.NutritionalAnamnesis!.AdverseFoodReactions)
    {
        <tr>
            <td>@reaction.FoodGroup</td>
            <td>@reaction.Type</td>
        </tr>
    }
    </tbody>
</table>

@code {
    
}