@using Fluxor
@using NutriFoods_UI.Data.Store.LatestConsultation
@inject IState<LatestConsultationState> LatestConsultation

<table class="my-table mud-width-full justify-space-beetween flex-grow-1 gap-2">
    <thead>
    <tr>
        <th scope="col" style="width: 50%">Grupo</th>
        <th scope="col">Frecuencia</th>
    </tr>
    </thead>
    <tbody class="mt-2">
    
    @foreach (var freq in LatestConsultation.Value.LatestConsultation.NutritionalAnamnesis!.FoodConsumptions)
    {
        <tr>
            <td>@freq.FoodGroup</td>
            <td>@freq.Frequency</td>
        </tr>
        
    }
    
    </tbody>

</table>

@code
{

}
