@page "/"
@using Fluxor
@using NutriFoods_UI.Data.Dto
@using NutriFoods_UI.Data.Store.LogIn
@inject IState<CredentialsState> CredentialState
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject NavigationManager Nav


@if (Nutritionist.Email == null)
{
    Nav.NavigateTo("/landing");
}
<h2>Credenciales</h2>

<MudStack>
    <span>Email: @Nutritionist.Email</span>
    <span>Id: @Nutritionist.Id</span>
</MudStack>


@code{

    NutritionistDto Nutritionist => CredentialState != null ? CredentialState.Value.NutritionistCredentials : new();
    
}