@layout LoginLayout
@page "/login"
@using Fluxor
@using NutriFoods_UI.Data.Store.LogIn
@inject IDispatcher Dispatcher
@inject NavigationManager Nav


<section Class="MainContainer ">
    <section class="LoginContainer border rounded-3">
        <section class="LoginHeaderContainer">
            <div class="LoginHeaderTitle">
                Iniciar Sesión
            </div>
            <div class="LoginHeaderSubTitle mt-2">
                Bienvenido a <b>Nutrifoods!</b> Indica tus datos para iniciar sesión
            </div>
        </section>
        <MudForm>
            <section class="FormContainer">
                <div class="d-flex flex-column gap-3">
                    <MudGrid Spacing="2">
                        <MudItem xs="12" sm="12">
                            <MudText Align="Align.Left">Email</MudText>
                            <MudTextField T="string" Class=""
                                          Variant="Variant.Outlined"
                                          @bind-Value="Email"
                                          Required="true"
                                          InputType="InputType.Email"
                                          RequiredError="Email is required!">
                            </MudTextField>
                        </MudItem>
                        <MudItem xs="12" sm="12">
                            <MudText Align="Align.Left">Contraseña</MudText>
                            <MudTextField T="string"
                                          InputType="InputType.Password"
                                          Required="true"
                                          Variant="Variant.Outlined"
                                          RequiredError="Password is required!"
                                          @bind-Value="Password"/>
                        </MudItem>
                    </MudGrid>


                </div>


                <div class="InputContainer RememberForgotContainer">
                    <div class="remember-box">
                        <input type="checkbox" class="CheckboxInput">
                        <label style="padding-left: 5px;">
                            <b>Recordar contraseña</b>
                        </label>
                    </div>
                    <div class="ForgotPasswordContainer">
                        <a>¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
            </section>
        </MudForm>
        <section class="d-flex justify-center" style="width: 100%">
            <MudButton class="SigninButton"
                       @onclick="Submit"
                       Variant="Variant.Filled"
                       DisableElevation="true"
                       Color="Color.Primary"
                       Style="text-transform: none; font-family: 'Plus Jakarta Sans', sans-serif; font-weight: 700; width: 100%">
                Iniciar Sesión
            </MudButton>
        </section>
        <section class="FooterContainer">
            ¿No tienes una cuenta aún? <a class="SignUpLink">¡Crear una cuenta!</a>
        </section>
    </section>
</section>

@code {
    string Email { get; set; } = string.Empty;
    string Password { get; set; } = string.Empty;

    void Submit()
    {
        Dispatcher.Dispatch(new LoadCredentialsAction(Email, Password));
    }

}