.LoginContainer{
    width: fit-content;
    padding: 30px;
    background: white;
    
}

.MainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    max-width: 600px;
}

.CompanyContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.bg-gradient-text {
    background-image: linear-gradient(to right, #DA12FF 0%, #9733EE  51%, #DA52FF  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.CompanyLogoConatiner{
    padding-right: 10px;
}

.CompanyLogoImg{
    height: 60px;
}

.CompanyName{
    font-size: 30px;
    font-weight: bolder;
}

.LoginHeaderTitle{
    font-size: 25px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.FormContainer{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.FormContainer .InputContainer{
    padding-top: 10px;
    padding-bottom: 10px;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.InputContainer .label{
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
}

.InputContainer .remember-box{
    display: flex;
    flex-direction: row;
    align-content: center;
}



.InputContainer .CheckboxInput{
    margin: 0;
    width: 18px;
    height: 18px;
}

.ForgotPasswordContainer{
    color: red;
    cursor: pointer;
}

.ButtonsContainer .SignInButtonContainer .SigninButton:hover{
    background-color: var(--color-primary);
}

.ButtonsContainer .SignInButtonContainer .SigninButton{
    width: 100%;
    background-color: var(--color-primary);
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.ButtonsContainer .OthersButtonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.ButtonsContainer .OthersButtonContainer button{
    width: 48%;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;
    border: 0;
}

.FooterContainer{
    padding-top: 30px;
    text-align: center;
}

.SignUpLink{
    color: #2d70ce;
    cursor: pointer;
}

span{
    color: var(--grey-normal)
}