@layout LoginLayout
@using NutriFoods_UI.Data.Dto
@using NutriFoods_UI.Services
@using NutriFoods_UI.Utils.Enums
@inject NavigationManager Nav
@inject INutritionistService NutritionistService
@attribute [Route(PageUri.SignUp)]

<section Class="MainContainer ">
    <section class="LoginContainer border rounded-3">
        <section class="LoginHeaderContainer">
            <div class="LoginHeaderTitle">
                Registrar cuenta
            </div>

        </section>
        <MudForm>
            <section class="FormContainer">
                <div class="d-flex flex-column gap-3">
                    <MudGrid Spacing="2">
                        
                        <MudItem xs="12" sm="12">
                            <MudText Align="Align.Left">Nombre de usuario</MudText>
                            <MudTextField T="string"
                                          InputType="InputType.Text"
                                          Required="true"
                                          Variant="Variant.Outlined"
                                          RequiredError="Username is required!"
                                          @bind-Value="UserName"/>
                        </MudItem>
                        <MudItem xs="12" sm="12">
                                                    <MudText Align="Align.Left">Email</MudText>
                                                    <MudTextField T="string" Class=""
                                                                  Variant="Variant.Outlined"
                                                                  @bind-Value="Email"
                                                                  Required="true"
                                                                  InputType="InputType.Email"
                                                                  RequiredError="Email is required!">
                                                    </MudTextField>
                                                </MudItem>
                        <MudItem xs="12" sm="12">
                            <MudText Align="Align.Left">Contraseña</MudText>
                            <MudTextField T="string"
                                          InputType="InputType.Password"
                                          Required="true"
                                          Variant="Variant.Outlined"
                                          RequiredError="Password is required!"
                                          @bind-Value="Password"/>
                        </MudItem>
                    </MudGrid>


                </div>
                
            </section>
        </MudForm>
        <section class="d-flex justify-center" style="width: 100%">
            <MudButton class="SigninButton"
                       @onclick="Submit"
                       Variant="Variant.Filled"
                       DisableElevation="true"
                       Color="Color.Primary"
                       Style="text-transform: none; font-family: 'Plus Jakarta Sans', sans-serif; font-weight: 700; width: 100%">
                Crear cuenta
            </MudButton>
        </section>
        
    </section>
</section>

@code {
    string Email { get; set; } = string.Empty;
    string Password { get; set; } = string.Empty;
    string UserName { get; set; } = string.Empty;

    async Task Submit()
    {
        var nutritionist = new NutritionistDto
        {
            Username = UserName,
            Email = Email,
            Password = Password,
            Patients = []
        };

        var response = await NutritionistService.SignUp(nutritionist);
        var content = await response!.Content.ReadFromJsonAsync<NutritionistDto>();

        if (content != null)
        {
            Nav.NavigateTo("login");
        }

    }

}