@page "/user-dashboard"

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item "><a class="bi bi-arrow-left" href="#"> Pacientes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Perfil de Ariel Pinto</li>
  </ol>
</nav>

<h2 class="my-6 ml-2">Perfil de Ariel Pinto</h2>
<TabNavegation></TabNavegation>

@code {
    
}