<MudGrid Class="px-3">
    <MudItem xs="4" Class="d-flex flex-column gap-2">
        <div class="d-flex align-items-center">
            <CollapseSubtitle Title="Altura"></CollapseSubtitle>
        </div>
    </MudItem>
    <MudItem xs="8">
        <MudNumericField
            HideSpinButtons="true"
            Label="Altura"
            Variant="Variant.Outlined"
            Margin="Margin.Dense"
            Min="0"
            Required="true"
            Class="rounded"
            Adornment="Adornment.End"
            AdornmentColor="Color.Primary"
            AdornmentText="cm"/>
    </MudItem>
</MudGrid>

@code {
    
}