<MudGrid Class="px-3">
    <MudItem xs="4" Class="d-flex flex-column gap-2">
        <div class="d-flex align-items-center">
            <CollapseSubtitle Title="Peso"></CollapseSubtitle>
        </div>
    </MudItem>
    <MudItem xs="8">
        <MudNumericField
            HideSpinButtons="true"
            bind-Value="Value"
            Label="Peso"
            Variant="Variant.Outlined"
            Margin="Margin.Dense"
            Required="true"
            Min="0"
            Class="rounded"
            Adornment="Adornment.End"
            AdornmentColor="Color.Primary"
            AdornmentText="kg"/>
    </MudItem>
</MudGrid>

@code {
    private int Value { get; set; } 
}