@using NutriFoods_UI.Utils.Enums

<MudExpansionPanel Dense="true" Class="my-3 rounded py-3" IsExpanded="true">
    <TitleContent>
        <CollapseTitle Title="Requerimiento energético"></CollapseTitle>
    </TitleContent>
    <ChildContent>
        <div class="px-3">
            <MudDivider DividerType="DividerType.Middle" Class="mb-5"/>
            <PhysicalActivityIntake></PhysicalActivityIntake>
        </div>
        
    </ChildContent>
</MudExpansionPanel>


@code {

}