span{
    font-size: 1em;
    font-family: Plus Jakarta Sans, serif;
    font-weight: 500;
    color: var(--grey-normal);
}

.container{
    display: inline-flex
}

.custom{
    font-weight: 450;
    background: var(--mud-palette-primary-hover);
    color: var(--mud-palette-primary);
}

input{
    width: 70px;
    height: 30px;
}