@using NutriFoods_UI.Utils.Enums
@using NutriFoods_UI.Data.Store.MealsConfiguration
@using Fluxor


<div class="mb-4 my-3">
    @for (var i = 0; i < MealTypes.Count; i++)
    {
        <MealTypeIntake Index="i" MealType="MealTypes[i]"></MealTypeIntake>
        <MudDivider Class="mb-5 mt-2"/>
    }
    
    <div class="d-flex justify-start mt-3 mb-5 ml-2">
        <MudButton
            Size="Size.Small"
            Color="Color.Primary"
            StartIcon="@Icons.Material.Outlined.AddCircle"
            Variant="Variant.Text"
            Style="text-transform: none; font-family: 'Plus Jakarta Sans', sans-serif; font-weight: 700;">
            Añadir comida del día
        </MudButton>
    </div>
</div>


@code {
    
    private List<MealTypeEnum> MealTypes { get; set; } = new()
    {
        MealTypeEnum.Breakfast,
        MealTypeEnum.Lunch,
        MealTypeEnum.Dinner
    };

    private MealConfiguration CurrentMealConfiguration { get; set; } = new MealConfiguration();

    [Inject]
    private IState<MealsConfigurationState> MealState { get; set; } = null!;






}