th,
td {
    padding: 5px 0;
}
.my-table{
    border-collapse: collapse;
    /*table-layout: fixed;*/
    width:100%;

}

td{
    color: var(--grey-heavy);
    font-size: 1em;
    font-weight: 450;
    padding-top: 1em;
    padding-bottom: .5em;
}

th{
    color: var(--grey-light);
    font-size: 12px;
    border-bottom: 1px solid var(--grey-ultralight);
}