<table class="my-table mud-width-full justify-space-beetween flex-grow-1 gap-2">
    <thead>
    <tr>
        <th scope="col" class="ml-2" style="width: 50%">Nombre</th>
        <th scope="col" class="ml-9 mr-9">Dosis</th>
        <th scope="col" class="ml-3 mr-3">Frecuencia</th>
    </tr>
    </thead>
    <tbody class="mt-2">
    <tr>
        <td>Metformina</td>
        <td>500mg</td>
        <td>2 veces al día</td>
    </tr>
    <tr >
        <td>Metformina</td>
        <td>500mg</td>
        <td>2 veces al día</td>
    </tr>
    <tr >
                <td>Metformina</td>
                <td>500mg</td>
                <td>2 veces al día</td>
            </tr>
    </tbody>

</table>

@code {

}