.supplement-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.supplement-item {
    display: flex;
    flex-direction: row;
    gap: 1rem; 
}

.index {
    align-self: center;
}

.supplement-details {
    
}

.supplement-name {
    font-weight: bold;
}

.supplement-actions {
    
}

.animation-button:hover{
    animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}