<MudPaper Class="pl-6 pr-4 pt-2 pb-3" Style="background-color: #FFFFFF" Width="100%" Height="50%" Elevation="0">
    <div class="title-section-container">
        
    </div>
    
</MudPaper>

@code {
    /*
     * Sección Superior:
     *      - Titulo
     *      - Hora
     *      - Panel
     */
}
