@using Fluxor
@using NutriFoods_UI.Data.Store.RecipeDialog
@inject IState<RecipeDialogState> RecipeState

<div class="d-flex gap-10 align-self-center mt-2">
    <div class="macro-item">
        <span class="macro-number"></span>
        <span class="macro-label">Kcal</span>
    </div>
    <div class="macro-item">
        <span class="macro-number">
            
        </span>
        <span class="macro-label">Carbs</span>
    </div>
    <div class="macro-item">
        <span class="macro-number">
            
        </span>
        <span class="macro-label">Proteínas</span>
    </div>
    <div class="macro-item">
        <span class="macro-number">
            
        </span>
        <span class="macro-label">Lípidos</span>
    </div>
</div>

@code {

}