@page "/panel"

<div class="icon-section">
    
    <button class="btn btn-sm ">
        <i class="bi bi-arrow-clockwise"></i>
    </button>


    <button class="btn btn-sm ">
        <i class="bi bi-gear"></i>
    </button>

    <button class="btn btn-sm ">
        <i class="bi bi-three-dots-vertical"></i>
    </button>

</div>
        
@code {
    
}