@using Fluxor
@using NutriFoods_UI.Data.Store.DailyMenu
@using NutriFoods_UI.Data.Dto
@using NutriFoods_UI.Data.Store.DailyMeal
@using NutriFoods_UI.Services
@using NutriFoods_UI.Utils.Enums
@inject IState<DailyMealState> MealState
@inject IDispatcher Dispatcher

<div class="icon-section">
    
    <button @onclick="MealRenew" class="btn-sm">
        <i class="bi bi-arrow-clockwise"></i>
    </button>
    
    <button class="btn-sm">
        <i class="bi bi-gear"></i>
    </button>

    <button class="btn-sm">
        <i class="bi bi-three-dots-vertical"></i>
    </button>

</div>
        
@code {
    
    [Parameter]
    public int Index { get; set; }
    
    private void MealRenew() =>  Dispatcher.Dispatch(new RenewMenuAction(Index));
   
    
}