@page "/plan"
@using NutriFoods_UI.Data.Dto

<table class="my-table">
    <thead>
    <tr>
        <th scope="col" class="ml-2" style="width: 300px">Nombre</th>
        <th scope="col" class="ml-9 mr-9">Energía</th>
        <th scope="col" class="ml-3 mr-3">Proteínas</th>
        <th scope="col" class="ml-3 mr-3">Carbohidratos</th>
        <th scope="col" class="ml-3 mr-3">Lípidos</th>
    </tr>
    </thead>
    <tbody class="mt-2">
    @if (Recipes is not null)
    {
        @foreach (var menu in Recipes)
        {
            <tr>
                <td>
                    <Recipe Name="@menu.Recipe.Name" Image="https://cdn7.kiwilimon.com/brightcove/6838/640x640/6838.jpg.webp"
                            Portions="@menu.Portions"/>
                </td>
                <td>12 kcal</td>
                <td>12 g</td>
                <td>12 g</td>
                <td>12 g</td>
            </tr>
        }
    }
    else
    {
        
            <tr>
                <td>
                    <div class="center">
                        <div class="lds-ellipsis">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </td>

            </tr>
    }
    </tbody>

</table>


@code {

    [Parameter]
    public IList<MenuRecipeDto>? Recipes { get; set; }
    
}