@using NutriFoods_UI.Utils.Enums

<div class="title-section">
    <div class="d-flex gr-3 nose">
        <RecipeTitle MealName="@MealTypeName"></RecipeTitle>
        <span class="badge align-self-center gap-2 custom-span">
            <i class="bi bi-calendar mr-1"></i>
            8:00
        </span>
    </div>
    <Panel Index="@Index"></Panel>
</div>


@code {

    [Parameter]
    public string? MealTypeName { get; set; }

    [Parameter]
    public int Index { get; set; }

}

    <style>
        .mud-chip.mud-chip-size-small
                {
                    font-size: 10px;
                    height: 18px;
                }
    </style>
