.title-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--grey-heavy);
    padding: 4px 8px;
}

.custom-span{
    font-weight: 450; 
    background: var(--mud-palette-primary-hover); 
    color: var(--mud-palette-primary);
}
