<section id="hero" class="d-flex mx-auto flex-column align-items-center gap-2 py-15 bottom-border max-width">
    <h1 class="bg-gradient-text fw-bold fs-3">Nutrifoods</h1>
    
    <h2 class="fw-bolder bg-gradient-black text-center mb-4 hero-title">
        Una plataforma para profesionales de la 
        <b class="bg-gradient-text hero title fw-bolder">nutrición</b>
    </h2>
    <p class="text-center light-text w-75">Una nueva solución para aquellos nutricionistas que búsquen la mejor atención para sus usuarios, con planes alimenticios precisos y variados</p>
    <SignUpButton></SignUpButton>
</section>



@code {

}

<style>
   
</style>