@page "/chip"

<div class="chip @GetClassForStepState(State)">
    <i class="@Class "></i>
    <span>@Text</span>
</div>

<span>@GetClassForStepState(State)</span>


@code {

    [Parameter]
    public string Text { get; set; } = "8:00";

    [Parameter]
    public string Class { get; set; } = "bi bi-sliders";

    [Parameter]
    public StepState State { get; set; } = StepState.Blocked;
    
    private static string GetClassForStepState(StepState stepState) { return stepState switch
    {
        StepState.Active => "",
        StepState.Completed => "filled",
        StepState.Blocked => "blocked",
        _ => ""
        }; 
    }
    
    public enum StepState
    {
        Active = 1,
        Completed = 2,
        Blocked = 3
    }
}

