<div class="chip-group">
    <div class="chip">
        <i class="bi bi-sliders"></i>
        <span>Configuración</span>
    </div>
    <div class="chip">
        <i class="bi bi-sliders"></i>
        <span>Configuración</span>
    </div>
    <div class="chip">
        <i class="bi bi-sliders"></i>
        <span>Configuración</span>
    </div>
</div>